.image-card {
  position: relative;

  img {
    padding: 0.5rem 1rem 0.5rem 1rem;
    min-width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 2.5rem;
  }

  .button-container {
    position: absolute;
    bottom: 5%;
    right: 7%;

    ion-button {
      --border-radius: 2rem;
    }
  }
}
